{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="glass-panel">
        <h1>Login</h1>
        <p>Please select your broker to login:</p>
        <div class="login-buttons">
            <a href="{{ url_for('login_zerodha') }}" class="login-button zerodha">Login with Zerodha</a>
            <a href="{{ url_for('login_upstox') }}" class="login-button upstox">Login with Upstox</a>
        </div>

    <h2>Hyperliquid</h2>
    <form action="{{ url_for('login_hyperliquid') }}" method="post" id="login-form-hyperliquid">
        <div class="form-grid">
            <div class="form-column">
                <label for="private_key">Private Key:</label><br>
                <input type="password" id="private_key" name="private_key"><br>
            </div>
        </div>
        <div class="submit-container">
            <input type="submit" value="Login with Hyperliquid">
        </div>
    </form>
    </div>
{% endblock %}
